body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    width: 100%; 
}


.searchBar {
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 8px;
    height: 45px;
    padding: 2px 15px;
    width: 500px;
  }

.searchBar input {
    border: none;
    flex-grow: 1; 
}

.search-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.menu-social-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
  
  .Social-icons {
    display: flex;
    gap: 10px;
}
  
  #menu-icon {
    font-size: 30px;
    cursor: pointer;
}



@media (max-width: 1050px) {
    .header {
        justify-content: space-between;
    }

    .searchBar {
        position: static;
        width: 50%; 
        margin: 0 auto;
    }

    .Social-icons {
        display: none;
    }

    #menu-icon {
        font-size: 30px;
    }
}

@media (max-width: 640px) {
    .logo img {
        width: 50%;
    }

    .searchBar {
        width: 70%; 
    }
}

@media (max-width: 340px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        justify-content: center;
    }

    #menu-icon {
        font-size: 20px;
    }

    .searchBar {
        width: 70%; 
    }
}