body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
}

.header-wrapper {
  width: 100%;
  padding: 10px 20px;
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 150px;
}

.searchBar-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 8px;
  height: 40px;
  padding: 2px 15px;
  width: 60%;
}

.searchBar input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.menu-container {
  cursor: pointer;
  display: none; 
}

.social-icons {
  display: flex;
  gap: 18px;
  padding-right: 25px;
}

.centered-box {
  position: fixed; 
  top: 58px;
  right: 0; 
  width: 180px;
  transform: translateX(100%); 
  transition: transform 0.5s; 
  z-index: 10; 
  background-color: whitesmoke; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.centered-box.open {
  transform: translateX(0);
}

.social-icons-with-names {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  margin-left: 10px;
}

.icon-item {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 10px; 
  width: 100%; 
}

.icon-item span {
  font-size: 14px; 
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 5; 
}

@media (max-width: 1024px) {
  .menu-container {
    display: flex; 
  }
  .menu-container {
    display: none;
  }
  .social-icons {
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .social-icons {
    display: none;
  }
  .searchBar {
    width: 60%; 
  }
  
  .header {
    flex-direction: row; 
    padding: 10px 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .menu-container {
    display: flex;
  }
  
  .searchBar-container {
    justify-content: center;
  }
}

@media (max-width: 572px) {

  .header-wrapper {
    border-bottom: 3px solid darkgray;
  }
  .header {
    flex-direction: row; 
    justify-content: space-between; 
    box-shadow: none;
  }

  .logo {
    justify-content: flex-start;
  }
  .logo img {
    width: 130px;
  }

  .menu-container {
    justify-content: flex-end; 
  }
  
  .searchBar-container {
    position: absolute; 
    top: 20%; 
    left: 55%; 
    transform: translateX(-50%);
    width: 90%;
  }

  .searchBar {
    width: 100%; 
  }

  .social-icons {
    display: none; 
  }
}

@media (max-width: 420px) {
  .searchBar {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
  }

  .searchBar input {
    text-align: center; 
    width: 100%;
  } 
}

