body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3.5em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 8px;
  height: 45px;
  padding: 2px 15px;
  width: 500px;
  position: relative;
}

.searchBar input {
  border: none;
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-container {
  display: none;  
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

#menu-icon {
  font-size: 30px;
  cursor: pointer;
}

.centered-box {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 300px;
  background-color: whitesmoke;
  transition: opacity 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
}

.centered-box.open {
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.social-icons-with-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

.icon-item {
  display: flex;
  align-items: center;
}

.icon-item span {
  margin-left: 8px;
}

@media (max-width: 1024px) {
  

  
}

@media (max-width: 768px) {
  .searchBar {
    width: 90%;
  }
  .social-icons {
    display: none; 
  }

  .menu-container {
    display: flex; 
  }
}

@media (max-width: 540px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .searchBar {
    width: 450px; 
    margin-top: 15px; 
  }

  .logo {
    padding-right: 0;
  }

  #menu-icon {
    position: absolute;
    top: 20px; 
    right: 10px;
  }
}

@media (max-width: 530px) {
  .header {
    justify-content: space-between; 
    flex-direction: row; 
  }

  .menu-container {
    position: relative;
    order: 2; 
    margin-right: 10px; 
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start; 
  }

  .searchBar {
    width: 100%; 
    margin-top: 10px;
  }

  .searchBar-container {
    width: 100%;
  }

  #menu-icon {
    font-size: 30px;
    padding: 10px;
  }
}

@media (max-width: 520px) {
  .header {
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
  }

  .menu-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }

  .logo {
    margin-bottom: 10px; 
  }

  .searchBar {
    width: 100%; 
    text-align: center; 
    margin-bottom: 10px; 
  }
  .searchBar-container {
    width: 100%;
  }
}

@media (max-width:375px) {
  .header {
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
  }

  .menu-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }

  .logo {
    margin-bottom: 10px; 
  }

  .searchBar {
    width: 100%; 
    text-align: center; 
    margin-bottom: 10px; 
  }
  .searchBar-container {
    width: 100%;
  }
}

